.card{
    color: white;
    width: 400px;
    height: 600px;
    background:black;
  
}

.first:hover{
    text-decoration: underline ;
    color: green;
}

.second:hover{
    text-decoration: underline ;
    color: green;
}

.third:hover{
    text-decoration: underline ;
    color: green;
}
.form-label{
    border-radius: 10px;
    background-color: black;
    color:#fff;
}
