<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <div class="row">
            <div class="first col-3 mt-4">
              <h5><a class="nav-link" routerLink="/login"></a>Login</h5>
            </div>
            <div class=" second col-5 mt-4">
              <h5><a href="/register"></a>Create Account</h5>
            </div>
            <div class="third col-4 mt-4">
              <h5>QR code</h5>
            </div>
          </div>
        </div>
        <form>
          <label for="email" class="form-label mt-5 ms-2">Email:
            <input type="email" class="form-label ms-4"></label>
          <label for="password" class="form-label mt-3">Password:
            <input type="password" class="form-label"></label><br>
        </form>
        <div class="card-header mt-3">
          <h6>Forgot Password</h6>
        </div>
        <button type="button" class="btn btn-success ms-5 me-5 mt-4">Login</button>
        <div class="text mt-3">
          <h6>OR</h6>
        </div>
        <button type="button" class="btn btn-light ms-5 me-5 mt-3">Login with Google Account</button><br>
        <hr>
      </div>


    </div>
    <div class="col"></div>
  </div>
</div>