<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+CU:wght@100..400&family=Sevillana&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Lilita+One&display=swap"
    rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/vcr-osd-mono" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Lilita+One&family=Oswald:wght@200..700&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kalnia+Glaze:wght@100..700&family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap" rel="stylesheet">
<section>
    <section class="parallax-1">
        <div class="parallax-inner">
            <h1>Babes Kitchen</h1>
            <p>Save precious time managing orders</p>

        </div>

    </section>


    <div class="hero bg-dark text-white text-center d-flex align-items-center mt-3"
        style=" background-size:cover; height: 75vh;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="display4 mt-3"><span><strong>What is Kitchen Display System </strong></span></h2>
                    <p class="display3 text-justify">A KDS (Kitchen Display System) solution replaces paper order
                        tickets with digital tickets. It
                        receives all of your orders and centralize them on different screens in the kitchen.</p>

                </div>

                <div class="col-3">
                    <img src="https://images.indianexpress.com/2020/06/restaurant-1.jpg"
                        alt="" class="h-100 w-120 mt-5 ">
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="main bg-grey text-white text-center d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="mt-4"><span>MANAGE YOUR TICKETS IN THE KITCHEN</span></h3>
                    <p class="display2"> No more illegible, lost or incomplete paper vouchers! Digital is coming to the
                        kitchen. By equipping
                        your restaurant with a Kitchen Display System (KDS), you can view your tickets on a touch
                        screen,
                        cook, click, and you’re done! Reduce errors and serve faster and more efficiently.</p>
                </div>
                <div class="col mt-2">
                    <img src="https://www.posist.com/restaurant-times/wp-content/uploads/2017/01/kds-blog-update.jpg"
                        alt="" class="w-100 h-75">
                </div>
            </div>
        </div>

    </div>
    <div class="main bg-text text-white text-center d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://tickncook.com/wp-content/uploads/2022/03/definition-kds.jpg" alt=""
                        class="w-100 h-75">
                </div>
                <div class="col-6">

                    <h3 class="display6 mt-2 "><span><strong>KEEP SMILING AT THE CORNER</strong> </span></h3>
                    <p class="mt-4 display6"> <strong>Une gestion plus fluide = moins de stress ! Everything is going well in the
                            kitchen! By
                            equipping
                            your restaurant with a Kitchen Display System (KDS), new, on-going, and ready orders display
                            instantly at the counter. You have direct knowledge of what is happening in the kitchen and
                            can keep
                            your customers informed.</strong></p>
                </div>
            </div>
        </div>

    </div>
    <div class="main bg-text text-white text-center d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="display6 mt-2"><span>THE WAY YOUR WORK</span></h3>
                    <p> Every second counts when it comes to successful restaurant service. That’s why 100% of customers
                        who
                        have tried TicknCook never go back to paper tickets!.It’s flexible and allows a huge number of
                        settings, making it currently the most comprehensive and high-performance kitchen display
                        solution.
                    </p>
                </div>
                <div class="col mt-4">
                    <img src="https://images.ctfassets.net/tgv5pu8pgmos/5PpmPHOSDjBiAhl9l2UFxN/305ebe5b8cd7b4ed0d6cbd37e0f0472a/toast-kds-02.jpg?fm=webp&w=375&fit=scale"
                        alt="" class="w-100 h-75">
                </div>
            </div>
        </div>

    </div>
    <div class="main bg-text text-white text-center d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://www.restapp.com/wp-content/uploads/2021/12/kds2-1.png" alt="" class="w-100 h-75">
                </div>
                <div class="col-6">

                    <h3 class="display6 mt-2"><span>GATHER VALUABLE DATA</span></h3>
                    <p class="mt-4">Analyse preparation times and order delays. With our statistics screen, you’ll be
                        able
                        to monitor your services. You can access TicknCook wherever you are, and consult everything
                        that’s
                        happening live in your establishment(s).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu bg-dark text-black text-center d-flex align-items-center "
        style=" background-size:cover; height: 50vh;">
        <div class="container mt-4">

            <h1 class="display5 mt-5"><span>WHAT OUR CUSTOMER SAY </span></h1>
            <p class="display5">“On average, TicknCook has saved us 20% on dish preparation times. This translates into
                an increase in kitchen productivity.”</p>
            <p class="display5 mt-4">“I’ve tried other KDS systems and the visibility of information was not as good as
                the
                one you offer.”</p>
            <p class="display5">“I hesitated for a long time before implementing this system because it was an additional cost… but
                now my teams don’t want to go back.”</p>

        </div>
    </div>
    <div class="container mt-5" id="menu">
        <h2 class="text-center display3">YOU ARE GOING TO LOVE COOK</h2>
        <div class="row mt-4">
            <div class="col-4 h-75">
                <div class="card bg-success text-white" style="width: 20rem; height: 25rem;">
                    <div class="card-body mt-3 ">
                        <h5 class="card-title display4">Quick Installation Free of charge</h5>
                        <p class="card-text display1">In less than 24 hrs.Easy to learn have to access all the settings and 15day
                            trial to test it out</p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-success text-white" style="width: 20rem; height: 25rem;">
                    <div class="card-body mt-3">
                        <h5 class="card-title">Quick Installation Free of charge</h5>
                        <p class="card-text">In less than 24 hrs.Easy to learn have to access all the settings and 15day
                            trial to test it out</p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-success text-white" style="width: 20rem; height: 25rem;">
                    <div class="card-body mt-3">
                        <h5 class="card-title">Quick Installation Free of charge</h5>
                        <p class="card-text">In less than 24 hrs.Easy to learn have to access all the settings and 15day
                            trial to test it out</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center p-3 mt-5">
        <div class="container">
            <p>&copy; 2024 CoffeeShop. All Rights Reserved.</p>
            <ul class="list-inline">

                <li class="list-inline-item"><a href="#about" class="text-white">About</a></li>
                <li class="list-inline-item"><a href="#contact" class="text-white">Contact</a>

                </li>
            </ul>
        </div>
    </footer>